
.aboutTitle {
  margin-bottom: 8px;
  margin-top: 8px;
  font-size: 48px;
  text-shadow: 2px 2px #ffbf00;
}

.webDevelopmentInfo {
  border-radius: 5px;
  background-color: rgb(5, 12, 28);
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.skill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 10px;
  margin: 4px;
  background-color: #2f2f2f;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 16px;
  text-transform: uppercase;
}

