.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #031104;
	font-size: 20px;
	border-radius: 5px;
	color: rgb(199, 190, 166);
	size: 30px;
	padding: 25px 15px 10px 15px;
	z-index: 1;
}

.title {
	margin-bottom: 8px;
	margin-top: 8px;
	font-size: 48px;
	text-shadow: 2px 2px #ffbf00;
}

.text {
	margin-bottom: 16px;
	margin-top: 16px;
	line-height: 1.5;
	text-decoration: none;
}

.noPadding {
	padding: 0;
	margin: 0;
}

.aboutImage {
	margin-top: 32px;
	width: 300px;
	max-width: 100%;
	box-shadow: 4px 4px #ffbf00;
}
